@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer base {
  html{
    font-family: 'Mogra', cursive;
  }

  .backGround {
    @apply bg-white dark:bg-slate-900 text-black dark:text-white;
  }

  .padding{
    @apply px-4 lg:px-12 sm:px-7
  }

  .nav{
    @apply text-black dark:text-white fixed top-0 left-0 right-0 bg-white dark:bg-slate-900;
    @apply flex justify-between items-center py-4 border-b dark:border-slate-600;
  }

  .input{
    @apply border w-full h-full outline-none px-2 text-sm bg-white dark:bg-transparent
  }

  .summary-box{
    @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
  }

  .copy{
    @apply flex items-center gap-2
  }
}